
# The base URL for the backend API, accessible by the browser
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1

# The App ID for Agora RTC (Real-Time Communication) used for video/audio classrooms
NEXT_PUBLIC_AGORA_APP_ID=3ebe5xxxxxxxxxxxxxxxxxxxxxxxxx

# RECAPTCHA of frontend
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=6LeFqxxxxxxxxxxxxxxxxxxxxxxxxx


# Interactive Whiteboard In Frontend
NEXT_PUBLIC_WHITEBOARD_APP_IDENTIFIER=seyJsE2-xxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_WHITEBOARD_REGION=sg

# ─── Sentry APM & Error Tracking (Frontend)
SENTRY_AUTH_TOKEN=sntrys_eyJpYXQiOjxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_SENTRY_DSN=https://cea8xxxxxxxxxxxxxxxxxxxxxxx

